body {
  background-color: white;
  font-family: 'Barrio', cursive;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.3em;
}

header h1 {

  
  font-size: 3rem;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: lightcoral;
  overflow: hidden;
  text-align: center;
  border: 1px black;
}

nav li a {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 2em;
  text-decoration: none;
  transition: 0.5s;
  display: block;
  min-width: 10rem;
  height: 2rem;
  text-align: center;
}

nav a:hover {
  background-color: lightsteelblue;
  font-family: 'Barrio', cursive;
}

nav li {
  display: block;
  background-color: lightcoral;
  align-content: space-around;
  padding: 0.5em;
}

@media screen and (min-width: 760px) {
    .menu-list > .list-item {
        border-width: 1px black;
    }
    .menu-list > .list-item,
    .menu-list > .list-item a {
        display: inline-block;
    }
}

section {
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}

section h2 {
  font-family: 'Barrio', cursive;
  font-size: 2em;
}

 aside {
   float: right;
   padding-right: 0.5em;
   
 }

section {
  float: left;
  border: solid;
  border-color: white;
  border-width: thin;
  margin-right: 25%;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.2em;
  padding: 0.6rem;
}


.item-container {
  flex-flow: row wrap-reverse;
  width: 30%;
  height: 35em;
  margin: .4em;
  padding: 0.5em;
  border: 1px solid;
  border-color: black;
  float: left;
  position: relative;
}

.item-container img {
  width: 90%;
  align-content: center;
}

.item-container p {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem;
}

.item-container h6 {
  font-size: 1.5rem;
  font-family: 'Barrio', cursive;
  padding: 1em;
  text-align: center;
}