body {
  background-color: white;
  font-family: 'Barrio', cursive;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.3em;
}

header h1 {
  font-family: 'Barrio', cursive;
  font-size: 3rem;
  text-align: center;
  padding: 1em;
}

nav {
  background-color: lightcoral;
  overflow: hidden;
  text-align: center;
}

nav a {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  font-size: 2em;
  text-decoration: none;
  transition: 0.5s;
  display: inline-block;
}

nav a:hover {
  background-color: lightsteelblue;
}

nav li {
  display: inline-block;
  background-color: lightcoral;
  align-content: space-around;
  padding: 0.5em;
}

section {
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
}

section h2 {
  font-family: 'Barrio', cursive;
  font-size: 2em;
}

 aside {
   float: right;
   height: 100%;
 }

section {
  float: left;
  border: solid;
  border-color: white;
  border-width: thin;
  margin-right: 25%;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0.2em;
  padding: 0.6rem;
}

.item-container {
  flex-flow: row wrap-reverse;
  width: 30%;
  height: 33rem;
  margin: .4em;
  padding: 0.5em;
  border: 1px solid;
  border-color: black;
  float: left;
}

.item-container img {
  width: 95%;
  align-items: center;
}